<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myhero.fh"
    android:versionCode="97"
    android:versionName="1.50">

  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>
  <uses-feature android:glEsVersion="0x00020000"/>
  <permission android:name="com.myhero.fh.permission.UA_DATA" android:protectionLevel="signature" />
  <uses-permission android:name="com.myhero.fh.permission.UA_DATA" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- This app has permission to register with GCM and receive message -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <permission android:name="com.myhero.fh.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="com.myhero.fh.permission.C2D_MESSAGE" />

  <!-- Required only for location -->
  <!-- Use ACCESS_COARSE_LOCATION if GPS access is not necessary -->
  <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
      android:name=".FootballApp"
      android:label="@string/app_name"
      android:icon="@drawable/icon">

    <meta-data android:name="LOCALYTICS_APP_KEY" android:value="d16d149eabf971a5b376a43-aa0e6fc0-1c50-11e4-49cb-00a426b17dd8"/>

    <activity android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:configChanges="orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <data android:scheme="ampd16d149eabf971a5b376a43-aa0e6fc0-1c50-11e4-49cb-00a426b17dd8" />
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
        <intent-filter>
            <!-- Accepts URIs that begin with "footballhero://link" -->
            <data android:scheme="footballhero"/>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>
        <intent-filter>
            <!-- Accepts URIs that begin with "http://footballheroapp.com" -->
            <data android:scheme="http" android:host="footballheroapp.com/"/>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
        </intent-filter>

    </activity>

    <activity android:name=".FacebookTestActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:configChanges="orientation">
      <intent-filter>
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      </intent-filter>
    </activity>

    <activity
        android:name="com.facebook.LoginActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    <activity
          android:name="cn.sharesdk.framework.ShareSDKUIShell"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:screenOrientation="portrait"
          android:windowSoftInputMode="stateHidden|adjustResize" >
    </activity>

    <!--微信分享回调 -->
    <activity
          android:name=".wxapi.WXEntryActivity"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:exported="true"
          android:screenOrientation="portrait" />

    <meta-data android:name="com.crashlytics.ApiKey"
        android:value="3c3ead4115907f8dbc3133b7ed3c8c66f05daebf"/>

      <!-- Required for the UA library -->
      <provider android:name="com.urbanairship.UrbanAirshipProvider"
                android:authorities="com.myhero.fh.urbanairship.provider"
                android:permission="com.myhero.fh.permission.UA_DATA"
                android:exported="true"
                android:multiprocess="true" />

      <!-- Required for Push -->
      <service android:name="com.urbanairship.push.PushService" android:label="FootballHero Push Notification Service"/>
      <receiver android:name="com.urbanairship.CoreReceiver" />
      <receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

              <category android:name="com.myhero.fh" />
          </intent-filter>

          <!--  Required for detecting when the application is upgraded so it can request a new GCM ID -->
          <intent-filter>
              <action android:name="android.intent.action.PACKAGE_REPLACED" />
              <data android:scheme="package"/>
          </intent-filter>
      </receiver>

      <!-- Required for analytics -->
      <service android:name="com.urbanairship.analytics.EventService"/>

      <!-- Required for Rich Push -->
      <service android:name="com.urbanairship.richpush.RichPushUpdateService"/>

      <!-- Required for Actions -->
      <activity android:name="com.urbanairship.actions.ActionActivity"/>
      <service android:name="com.urbanairship.actions.ActionService"/>

      <!-- Required for Landing Page Action -->
      <activity
              android:name="com.urbanairship.actions.LandingPageActivity"
              android:parentActivityName="com.myhero.fh.MainActivity"
              android:exported="false">

          <!-- MODIFICATION REQUIRED set or remove the parent activity -->
          <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.myhero.fh.MainActivity" />

          <intent-filter>
              <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION"/>
              <data android:scheme="http" />
              <data android:scheme="https" />
              <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
      </activity>

      <!-- The AppsFlyer Install Receiver is first and will broadcast to all receivers placed below it -->
      <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
          <intent-filter>
              <action android:name="com.android.vending.INSTALL_REFERRER" />
          </intent-filter>
      </receiver>

      <receiver android:name="com.mobileapptracker.Tracker" android:exported="true">
          <intent-filter>
              <action android:name="com.android.vending.INSTALL_REFERRER" />
          </intent-filter>
      </receiver>
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

      <receiver android:name="com.myhero.fh.IntentReceiver" />
  </application>
  <supports-screens android:largeScreens="true"
      android:smallScreens="true"
      android:anyDensity="true"
      android:normalScreens="true"/>

  <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="788386747851675"/>
</manifest> 
